## Public Finance: Data Cleaning
The following scripts performs the data cleaning on the Annual Survey of State and Local Government Finances. The data is provided in a standardised format from Willamette University. The data is available at a county level between 1967 - 2020 with improved coverage in more recent years.

In [1]:
import pandas as pd
import numpy as np
import pyreadr

In [2]:
temp_cty = pd.read_csv("../data/raw/CountyData.csv", 
                       dtype = {'GOVSid':str,
                                'FIPSid':str,
                                'Name':str,
                                'FIPS_Code_State':str,
                                'FIPS_County':str,
                                'FIPS_Combined':str})

# Removes variables that do not provide unique distinguishing characteristics
temp_cty.drop(['GOVSid', 
              'FIPSid', 
              'County', 
              'State_Code',
              'Type_Code', 
              'FIPS_County', 
              'FIPS_Place', 
              'FYEndDate', 
              'YearPop', 
              'SchLevCode',
              'FunctionCode',
              'Enrollment'], inplace = True, axis = 1)

temp_cty.rename({'Year4':'year', 'Name': 'county_name', 
                         'FIPS_Code_State':'fips_state', 
                         'FIPS_Combined':'fips'},
                inplace = True, axis = 1)


# Fixes inconsistent FIPS code for KETCHIKAN GATEWAY BOROUGH; FIPS changes in 
# 2007 - verified that population total is consistent at time of switch 
# (ie. unlikely there is a regrouping of counties)
temp_cty['fips'].mask(temp_cty['county_name'] == "KETCHIKAN GATEWAY BOROUGH", 
                      "02130", inplace = True)

# Converts to long format - each category name in "item_formal" and amount in "amount"
temp_cty = temp_cty.melt(id_vars = ['year', 'county_name', 'fips_state', 
                          'fips', 'Population'],
             var_name = 'item_formal', value_name = 'amount')

#temp_cty.to_csv('../data/temp/county_py_test.csv', index = False)
#pyreadr.write_rds("../data/temp/county_py_test.rds", temp_cty, compress = "gzip")


# Testing compared to RStudio cleaning

#temper = pd.read_csv("../data/temp/temper_r_test.csv")#, 
                       #dtype = {'county_name':str,
                       #         'fips_state':str,
                        #        'fips':str,
                        #        'item_formal':str})

In [3]:
# # Save item codes for categorisation
# temper %>% 
#   mutate(item = tolower(item_formal), 
#     rev_exp_debt = case_when(grepl(c("rev|tax|lic|chg"), item) ~ "revenue",
#                              grepl("ltd", item) ~ "debt")) %>% select(item, rev_exp_debt) %>% distinct %>% write.xlsx(here("data/raw/willamette_county_data/item_codes.xlsx"))

item_codes = pd.read_excel('../data/out/item_codes.xlsx')
item_codes

,item,rev_exp_debt,Unsure,will_category,large_category,retain_total,sum_category,Notes,Unnamed: 8
0,total_revenue,revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,total_rev_own_sources,revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,general_revenue,revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,gen_rev_own_sources,revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,total_taxes,revenue,NaN,tax,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
571,unemp_comp_other_balance,assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
572,nonin_trust_cash___sec,assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
573,sinking_fd_cash___sec,assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
574,bond_fd_cash___sec,assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN
575,oth_nonin_fd_cash___sec,assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Short time series
Expenditure time series from 2000-2021.

In [4]:
temp_cty['item'] = temp_cty['item_formal'].str.lower()
temp_merged = temp_cty.merge(item_codes, on = "item", how = "left")
temp_merged.rename({"Unnamed: 8": "X9"}, inplace = True, axis = 1)
temp_short = temp_merged.loc[(temp_merged['year'] >= 2000) & (temp_merged['rev_exp_debt'] == "expenditure")]

/var/folders/34/6r0xdq916zn1qsvypkxnsqkw0000gr/T/ipykernel_5002/3300242954.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_short.rename({"Unnamed: 8": "X9"}, inplace = True, axis = 1)

In [5]:
#pyreadr.write_rds('../data/temp/county_short_expenditure_py.RDS', temp_short)
cty_r = pyreadr.read_r('../data/temp/county_short_expenditure.RDS')

In [ ]:
cty_r_pd = cty_r[None]
print(list(cty_r_pd.columns))
print(list(temp_short.columns))

#temp_short.reset_index(drop = True).equals(cty_r_pd.reset_index(drop = True))
temp_short.reset_index(drop = True).compare(cty_r_pd.reset_index(drop = True))

['year', 'county_name', 'fips_state', 'fips', 'Population', 'item_formal', 'amount', 'item', 'rev_exp_debt', 'Unsure', 'will_category', 'large_category', 'retain_total', 'sum_category', 'Notes', 'X9']
['year', 'county_name', 'fips_state', 'fips', 'Population', 'item_formal', 'amount', 'item', 'rev_exp_debt', 'Unsure', 'will_category', 'large_category', 'retain_total', 'sum_category', 'Notes', 'X9']

### Full time series
Expenditure time series from 1967-2021.

In [7]:
temp_full = temp_merged.loc[temp_merged['rev_exp_debt'] == "expenditure"]
temp_full

,year,county_name,fips_state,fips,Population,item_formal,amount,item,rev_exp_debt,Unsure,will_category,large_category,retain_total,sum_category,Notes,Unnamed: 8
14186592,1967,AUTAUGA COUNTY,01,01001,18739,Total_Expenditure,834.0,total_expenditure,expenditure,NaN,total expenditure,Total,1.0,NaN,NaN,NaN
14186593,1970,AUTAUGA COUNTY,01,01001,24460,Total_Expenditure,813.0,total_expenditure,expenditure,NaN,total expenditure,Total,1.0,NaN,NaN,NaN
14186594,1971,AUTAUGA COUNTY,01,01001,24460,Total_Expenditure,853.0,total_expenditure,expenditure,NaN,total expenditure,Total,1.0,NaN,NaN,NaN
14186595,1972,AUTAUGA COUNTY,01,01001,24460,Total_Expenditure,1457.0,total_expenditure,expenditure,NaN,total expenditure,Total,1.0,NaN,NaN,NaN
14186596,1973,AUTAUGA COUNTY,01,01001,24460,Total_Expenditure,1530.0,total_expenditure,expenditure,NaN,total expenditure,Total,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47513819,2016,WESTON COUNTY,56,56045,7234,Unemp_Ext___Spec_Pmts,0.0,unemp_ext___spec_pmts,expenditure,NaN,unemployment compensation,Unemployment Compensation,NaN,NaN,NaN,NaN
47513820,2017,WESTON COUNTY,56,56045,7234,Unemp_Ext___Spec_Pmts,0.0,unemp_ext___spec_pmts,expenditure,NaN,unemployment compensation,Unemployment Compensation,NaN,NaN,NaN,NaN
47513821,2018,WESTON COUNTY,56,56045,7234,Unemp_Ext___Spec_Pmts,0.0,unemp_ext___spec_pmts,expenditure,NaN,unemployment compensation,Unemployment Compensation,NaN,NaN,NaN,NaN
47513822,2019,WESTON COUNTY,56,56045,6927,Unemp_Ext___Spec_Pmts,0.0,unemp_ext___spec_pmts,expenditure,NaN,unemployment compensation,Unemployment Compensation,NaN,NaN,NaN,NaN
47513823,2020,WESTON COUNTY,56,56045,6927,Unemp_Ext___Spec_Pmts,0.0,unemp_ext___spec_pmts,expenditure,NaN,unemployment compensation,Unemployment Compensation,NaN,NaN,NaN,NaN